.benefits {
  background-color: white;
  padding: 4rem 0;
  width: 100vw;
  overflow: hidden;

  .ant-row {
    margin: 2rem 0;
  }

  h1,
  p {
    color: #222222;
    font-size: 1.8rem;
    margin: 1rem 0;
  }
  h1 {
    font-size: 5.5rem;
  }
  @media (max-width: 1000px) {
    padding: 2rem 0;
    .express-yourself-section:nth-child(2n) {
      flex-direction: column-reverse;
    }
  }
}
